*.DS_Store
*.swp
*~.nib
#Xcode
*.xcuserstate

*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.o
*.pyc

#Idea
.idea

#SPM
.swiftpm

#CocoaPods
Podfile.lock
Pods/

# New structure

package/
release/

myTarget/Build/*
myTarget/*/Build/*

myTarget/MyTargetSDKApp/MyTargetSDKApp/ReleaseFrameworks
myTargetAdmobAdapters/build
myTarget/report
myTarget/xcov_output
myTarget/.fastlane/report.xml
myTarget/.fastlane/xcov_report
myTarget/DerivedData
myTarget/MyTargetSDKApp/DerivedData

*.orig
myTargetDemoSwift/Build
myTargetDemoSwiftUI/Build
